@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src:
		local('Overpass Light '),
		local('Overpass-Light'),
		url('fonts/overpass-400.woff2') format('woff2');
}

@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 500;
	font-display: fallback;
	src:
		local('Overpass Bold '),
		local('Overpass-Bold'),
		url('fonts/overpass-600.woff2') format('woff2');
}